<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.XA.Foundation.Presentation.IPresentationContext, Sitecore.XA.Foundation.Presentation">
        <patch:attribute name="implementationType">Sitecore.Support.XA.Foundation.Presentation.PresentationContext, Sitecore.Support.309807</patch:attribute>
      </register>
      <register serviceType="Sitecore.XA.Foundation.Presentation.Services.IRenderingCachingService, Sitecore.XA.Foundation.Presentation">
        <patch:attribute name="implementationType">Sitecore.Support.XA.Foundation.Presentation.Services.PipelineBasedRenderingCachingService, Sitecore.Support.309807</patch:attribute>
      </register>
    </services>

    <events>
      <event name="publish:end">
        <handler type="Sitecore.Support.XA.Foundation.CachesClearer, Sitecore.Support.309807" method="OnPublishEnd" />
      </event>

      <event name="publish:end:remote">
        <handler type="Sitecore.Support.XA.Foundation.CachesClearer, Sitecore.Support.309807" method="OnPublishEnd" />
      </event>
    </events>

    <pipelines>
      <mvc.renderPlaceholder>
        <processor type="Sitecore.Support.XA.Foundation.SitecoreExtensions.Pipelines.RenderPlaceholder.PerformRendering, Sitecore.Support.309807" patch:instead="processor[@type='Sitecore.XA.Foundation.SitecoreExtensions.Pipelines.RenderPlaceholder.PerformRendering, Sitecore.XA.Foundation.SitecoreExtensions']"/>
      </mvc.renderPlaceholder>

      <getRenderingCaching>
        <processor type="Sitecore.Support.XA.Foundation.PlaceholderSettings.Pipelines.GetRenderingCaching.GetPlaceholderRenderingCaching, Sitecore.Support.309807" patch:instead="processor[@type='Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetRenderingCaching.GetPlaceholderRenderingCaching, Sitecore.XA.Foundation.PlaceholderSettings']" resolve="true" />
        <processor type="Sitecore.Support.XA.Foundation.Presentation.Pipelines.GetRenderingCaching.GetSiteLevelCaсhing, Sitecore.Support.309807" patch:instead="processor[@type='Sitecore.XA.Foundation.Presentation.Pipelines.GetRenderingCaching.GetSiteLevelCaching, Sitecore.XA.Foundation.Presentation']" resolve="true"/>
      </getRenderingCaching>
    </pipelines>
  </sitecore>
</configuration>